{% for c in categories %}
  <h1 id="{{ c[0].replace(' ','-') }}" class="category-title">{{ c[0] }}</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      {% for i in items %}
        {% if i.category == c[0] %}
          <div class="row mb-3">
            <div class="food-name col-9">
              {{ i.name }}

              {% if i.is_veg %}
                <img class="veg-icon" src="{{ url_for('static', filename='img/veg.svg') }}" title="Vegetarian"/>
              {% endif %}
            </div>
            <div class="food-price col-3 text-end">
              ${{ i.price }}
            </div>
            <div class="food-info col">
              {{ i.description }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="col-11 col-md-5 offset-md-1">
      <div class="glider-contain">
        <div class="glider">
          {% set count = namespace(value=0) %}
          {% for i in items %}
              {% if i.category == c[0] and i.name.replace(' ','-') + '.jpg' in images %}
                {% set count.value = count.value + 1 %}
                <div>
                  <img src="{{ url_for('static', filename='img/items/' + i.name.replace(' ','-') + '.jpg') }}">
                  <p class="img-caption my-2">{{ i.name.title() }}</p>
                </div>
              {% endif %}
          {% endfor %}
        </div>

        {% if count.value > 1 %}
          <div aria-label="Previous" class="glider-prev">
            <svg class="chevron left" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <path d="M845 1395l454-454q19-19 19-45t-19-45l-454-454q-19-19-45-19t-45
              19l-102 102q-19 19-19 45t19 45l307 307-307 307q-19 19-19 45t19 45l102 102q19
              19 45 19t45-19zm819-499q0 209-103 385.5t-279.5 279.5-385.5
              103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5
              103 279.5 279.5 103 385.5z"/>
            </svg>
          </div>
          <div aria-label="Next" class="glider-next">
            <svg class="chevron right" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <path d="M845 1395l454-454q19-19 19-45t-19-45l-454-454q-19-19-45-19t-45
              19l-102 102q-19 19-19 45t19 45l307 307-307 307q-19 19-19 45t19 45l102 102q19
              19 45 19t45-19zm819-499q0 209-103 385.5t-279.5 279.5-385.5
              103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5
              103 279.5 279.5 103 385.5z"/>
            </svg>
          </div>
          <div role="tablist" class="dots"></div>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}

<script src="{{ url_for('static', filename='js/glider.min.js') }}"></script>
    <script type="text/javascript">
      window.addEventListener('load', function(){
        [].forEach.call(document.querySelectorAll('.glider'), function (ele) {
          new Glider(ele, {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            scrollLock: true,
            duration: 3,
            arrows: {
                prev: ele.parentNode.querySelector('.glider-prev'),
                next: ele.parentNode.querySelector('.glider-next')
            }
          });
        });
      });
    </script>