{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/glider.min.css') }}">

  {{ super() }}
{% endblock head %}
{% block navbar %}{% endblock navbar %}

{% block container %}
  <div id="home" class="inverse text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="row justify-content-center message {{ category }}">
            <div class="col-sm-11 col-md-10 col-lg-9">
              <div role="message">{{ message }}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <nav class="row justify-content-center g-0">
      <div class="col-11 col-md-10">
        <div class="row justify-content-center justify-content-md-end">
          <div class="home-nav col col-md-7 col-lg-6 col-xl-5">
            <div><a href="#appetizers" data-text="menu">menu</a></div>
            <!-- <div><a href="" data-bs-toggle="modal" data-bs-target="#order-modal" data-text="order">order</a></div> -->
            <div><a href="https://awesomehalal.square.site/" data-text="order">order</a></div>
            <div><a href="#contact" data-text="contact">contact</a></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center">
      <div class="col">
        {% block logo %}
          <img id="home-logo" class="img-fluid"
            src="{{ url_for('static', filename='img/logo.svg') }}">
        {% endblock logo %}
        <h1 id="home-title">awesome halal</h1>
        <h1 id="home-tagline">and gyro</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="home-next">
          <a href="#appetizers">
            <h4>
              LET'S EAT
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="sticky-header g-0 inverse row align-items-center justify-content-center mb-3">
    <div class="d-none d-md-flex col-md-1 me-md-3">
      <a href="#home">
        {% block icon %}
          <img id="header-img" class="img-fluid"
            src="{{ url_for('static', filename='img/logo.svg') }}" >
        {% endblock icon %}
      </a>
    </div>
    <div id="menu-header" class="col-9 col-md-8 col-lg-7 col-xl-8">
      {% for c in categories[:-1] %}
        <div class="text-nowrap">
          <a href="#{{ c[0].replace(' ','-') }}" data-text="{{ c[0].replace(' ','-') }}"
            class="header-item">
            {{ c[0] }}
          </a>&bull;
        </div>
      {% endfor %}
  
      <!-- remove bullet separator after last category -->
      <div class="header-item">
        <a href="#{{ categories[-1][0].replace(' ','-') }}" data-text="{{ categories[-1][0].replace(' ','-') }}">
          {{ categories[-1][0] }}
        </a>
      </div>
    </div>
  
    <div class="d-flex col-3 col-md-2 col-xl-1 overflow-hidden justify-content-center
    justify-content-md-end">
      <!-- <a id="order-btn" class="btn sm m-0" href="https://awesomehalal.square.site/"
      data-bs-toggle="modal" data-bs-target="#order-modal" data-text="order">ORDER</a> -->
      <a id="order-btn" class="btn sm m-0" href="https://awesomehalal.square.site/">ORDER</a>
    </div>
  </div>

  <div id="menu" class="home-section">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10">

        {% include '_menu.html' %}

      </div>
    </div>

    <div class="home-next row">
      <a href="#contact" class="mt-4">
        <h4>
          CONTACT
        </h4>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
            bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
  </div>

  <div id="contact" class="home-section end">
    <div class="row">
      <div class="col-10 col-md-5 offset-1 mb-3">

        <h1 class="mb-3">visit us</h1>
        <img id="kd-logo" src="{{ url_for('static', filename='img/logo_kdbackyard.jpg') }}" alt="">
        <p class="subheader">Kenny Dorham's Backyard</p>
        <p>
          1106 East 11th Street<br />
          Austin, TX 78702
        </p>
        <p class="subheader">Hours</p>
        <p>
          Monday - Thursday: 11am to 9pm<br/>
          Friday - Saturday: 11am to midnight<br/>
          Closed Sunday
        </p>
        <p>
          <span class="subheader">Phone:</span>
          <a href="tel:+1-737-296-2311">
            (737) 296-2311
          </a>
        </p>

        <p>
          <span class="subheader mb-3">Email:</span>
          <a href="mailto:awesomehalalandgyro@gmail.com" target="_blank">
            awesomehalalandgyro@gmail.com
          </a>
        </p>
      </div>

      <div class="col-10 col-md-5 offset-1 offset-md-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1722.9347682520659!2d-97.73027536671498!3d30.269298235397454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b5bb08262b93%3A0x28fc36470625bf52!2sKenny%20Dorham&#39;s%20Backyard%20Community%20Garden%2C%201106%20E%2011th%20St%2C%20Austin%2C%20TX%2078702!5e0!3m2!1sen!2sus!4v1677307218121!5m2!1sen!2sus"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-md-7 offset-1">
        <h1 class="mt-4 mb-3">get in touch</h1>

        <form id="inquiry-form" action="" method="post">
          {{ form.hidden_tag() }}
          <p class="mb-3">{{ form.first_name }}</p>
          <p class="mb-3">{{ form.email }}</p>
          <p class="mb-3">{{ form.phone }}</p>
          <p class="mb-3">{{ form.message(rows='4') }}</p>
          {{ hcaptcha }}
          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>

  <div id="order-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">
            <div class="modal-header mt-2 pb-0">
              <h1 class="modal-title">Order now</h1>
              <span type="button" class="btn-close" data-bs-dismiss="modal">&times;</span>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6 text-center">
                <a class="btn w-100 my-1">
                  Pick up
                </a>
              </div>
              <div class="col-6">
                <a class="btn w-100 sec my-1">
                  Delivery
                </a>
              </div>

              <!--<a class="chownow-order-online btn sec my-1" href="https://ordering.chownow.com/order/30097/locations" target="_blank">
                Order now
              </a>
              <div class="ms-1 my-2">
                <a href="https://www.ezcater.com/catering/pvt/hotswords-3">
                  Order catering
                </a>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock container %}

{% block end_scripts %}
  <!-- <script>
    function onSubmit(token) {
     document.getElementById("inquiry-form").submit();
    }
  </script> -->
  
{% endblock end_scripts %}
