{% extends 'base.html' %}

{% block content %}
  <div>
    <button id="add-item" class="btn d-inline-block me-2 mt-0">Add item</button>
  </div>

  <form id="add-item-form" class="collapsed" action="" method="post">
    <h1 class="mb-3 me-3 d-inline-block">Add item</h1>
    <a id="hide-form" href="#">Hide</a>

    {{ form.hidden_tag() }}
    {{ form.name }}
    {{ form.category }}
    {{ form.price }}
    {{ form.description }}
    {{ form.is_veg }}
    {{ form.is_veg.label(class="ms-2 mt-2") }}
    {{ form.order(class="d-none") }}
    {{ form.save }}
  </form>


  {% for c in categories %}
    <h1 class="slide-toggle my-3">{{ c[0].title() }}</h1>
    <div id="{{ c[0] }}" class="item-list">
      {% for i in items %}
        {% if i.category == c[0] %}
          <div class="mb-2">
            <a class="semibold" href="{{ url_for('edit_item', id=i.id) }}">
              {{ i.name.title() }}
            </a>: ${{ i.price }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}  
{% endblock content %}

{% block end_scripts %}
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight}px`;
    const slideUp = element => element.style.height = '0px';

    document.getElementById("add-item").addEventListener("click", function () {
      this.parentElement.classList.add('d-none');
      slideDown(document.getElementById("add-item-form"));
    });

    document.getElementById("hide-form").addEventListener("click", function () {
      slideUp(this.parentElement);
      document.getElementById("add-item").parentElement.classList.remove('d-none');
    });
  </script>
{% endblock end_scripts %}